 body {
  padding: 0px;
  margin: 0px;
  background: #f6f6f6;
 }

 header {
  background: #8490;
  height: 66px;
 }
 header * {
    color: white;
 }

 header .logo {
  float: left;
 }

 header ul {
  float: right;
 }

 header .menu-toggle {
  display: none;
 }